# API Configuration
REACT_APP_API_URL=http://localhost:5000/api

# Stripe Configuration
REACT_APP_STRIPE_PUBLISHABLE_KEY=pk_test_51SAAJQFxDXTvEhjBIyU154JiBill3mNxrYjLoe6DvPiOOgqClCeFUFKYtHjy9H55TJHaefa5dkzdoF7PdbrxnQOG00wz79z4oO